---
repos:
- repo: https://github.com/editorconfig-checker/editorconfig-checker.python
  rev: 3.6.0
  hooks:
  - id: editorconfig-checker
    alias: ec

- repo: https://github.com/adrienverge/yamllint
  rev: v1.38.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint.yaml]
