{{ if (eq .chezmoi.os "linux") -}}
---
registries:
- type: standard
  ref: {{ .versions.aqua_registry }}

packages:
- name: twpayne/chezmoi@{{ .versions.chezmoi }}
- name: starship/starship@{{ .versions.starship }}
- name: junegunn/fzf@{{ .versions.fzf }}
- name: sharkdp/fd@{{ .versions.fd }}
- name: sharkdp/bat@{{ .versions.bat }}
- name: eza-community/eza@{{ .versions.eza }}

{{- if .agekey }}
- name: FiloSottile/age@{{ .versions.age }}
- name: mozilla/sops@{{ .versions.sops }}
{{- end }}

{{- end }}
