{{ if (eq .chezmoi.os "linux") -}}
---
registries:
- type: standard
  ref: {{ .versions.aqua_registry }}

packages:
- name: twpayne/chezmoi@{{ .versions.chezmoi }}
- name: starship/starship@{{ .versions.starship }}
{{- end }}
