{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian")) -}}
#!/usr/bin/bash
echo -e "\033[0;32m>>>>> APT : Begin <<<<<\033[0m"

packages=(
{{ range .packages.apt -}}
{{ . }}
{{ end -}}
)

echo "running apt update"
sudo apt update --yes

echo "running apt install ${packages[@]}"
sudo apt install --yes "${packages[@]}"

echo -e "\033[0;32m>>>>> APT : End <<<<<\033[0m"
{{- end -}}
