{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian")) -}}
#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.chezmoitemplates/bash.sh"
packages=(
  {{ range .packages.apt -}}
  {{ . }}
  {{ end -}}
)

pretty_print ">>>>> APT : Begin <<<<<"

pretty_print "> running apt update"
if ! run_as_root apt update --yes; then
  pretty_print "Error: apt update failed" "$fg_red"
  pretty_print "This may indicate network issues or repository problems" "$fg_red"
  exit 1
fi

pretty_print "> running apt install ${packages[@]}"
if ! run_as_root apt install --yes "${packages[@]}"; then
  pretty_print "Error: apt install failed for packages: ${packages[*]}" "$fg_red"
  pretty_print "Some packages may not be available in your repositories" "$fg_red"
  pretty_print "Check package names and repository configuration" "$fg_red"
  exit 1
fi
pretty_print "Successfully installed all apt packages" "$fg_green"

pretty_print ">>>>> APT : End <<<<<"
{{- end -}}
