{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian")) -}}
#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.chezmoitemplates/bash.sh"
packages=(
  {{ range .packages.apt -}}
  {{ . }}
  {{ end -}}
)

pretty_print ">>>>> APT : Begin <<<<<"

pretty_print "> running apt update"
run_as_root apt update --yes

pretty_print "> running apt install ${packages[@]}"
run_as_root apt install --yes "${packages[@]}"

pretty_print ">>>>> APT : End <<<<<"
{{- end -}}
