{{ if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.chezmoitemplates/bash.sh"
version="{{ .versions.aqua -}}"

is_aqua_required() {
  [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $version ]
}

pretty_print ">>>>> Aqua Install : Begin <<<<<"

if is_aqua_required; then
  pretty_print "> installing aqua $version"
  curl -fsSL "https://raw.githubusercontent.com/aquaproj/aqua-installer/v3.0.0/aqua-installer" | bash -s -- -v "$version"
else
  pretty_print "> aqua $version already installed" "$fg_yellow"
fi

pretty_print ">>>>> Aqua Install : End <<<<<"
{{ end -}}
