{{ if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.chezmoitemplates/bash.sh"
config_location="{{ .chezmoi.homeDir }}/.config/aqua.yaml"
binary_location="{{ .chezmoi.homeDir }}/.local/share/aquaproj-aqua/bin/aqua"

pretty_print ">>>>> Aqua Config : Begin <<<<<"

# hash: {{ include "dot_config/aqua.yaml.tmpl" | sha256sum }}
pretty_print "> installing aqua packages"
AQUA_GLOBAL_CONFIG="$config_location" "$binary_location" install --all

pretty_print ">>>>> Aqua Config : End <<<<<"
{{ end -}}
