{{- if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.chezmoitemplates/bash.sh"

is_shell_required() {
  [ $SHELL != $(which fish) ]
}

pretty_print ">>>>> Fish Shell : Begin <<<<<"

if is_shell_required; then
  pretty_print "> setting default shell to fish"
  sudo chsh "{{- .chezmoi.username -}}" -s "$(which fish)"
else
  pretty_print "> fish already default shell" "$fg_yellow"
fi

pretty_print ">>>>> Fish Shell : End <<<<<"
{{- end -}}
