{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian")) -}}
#!/usr/bin/env bash

source "{{ .chezmoi.sourceDir }}/.chezmoitemplates/bash.sh"

is_fish_required() {
  [ ! $(command -v fish) ]
}

pretty_print ">>>>> Fish APT : Begin <<<<<"

if is_fish_required; then
  pretty_print "> installing fish"
  echo "deb http://download.opensuse.org/repositories/shells:/fish:/release:/3/Debian_12/ /" | sudo tee /etc/apt/sources.list.d/shells:fish:release:3.list
  curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:3/Debian_12/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/shells_fish_release_3.gpg > /dev/null
  run_as_root apt update --yes
  run_as_root apt install --yes fish
else
  pretty_print "> fish already installed" "$fg_yellow"
fi

pretty_print ">>>>> Fish APT : End <<<<<"
{{- end -}}
