---
name: lint

# yamllint disable-line rule:truthy
on:
  push:
    branches:
    - main
    - develop

  pull_request:
    branches:
    - main
    - develop

jobs:
  editorconfig-checker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Run editorconfig-checker
      uses: editorconfig-checker/action-editorconfig-checker@v2

  yamllint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Run yamllint
      uses: karancode/yamllint-github-action@v3.0.0
      with:
        yamllint_config_filepath: .yamllint.yaml
